

.box1{
    border:1px solid black;
    background-color: black;
    height: 30px
}
ul{
    float: left;
    color: white;
}
ul li{
    margin-top: -10px;
    float: left;
    position: relative;
    left: 300%;
    width: 100px;
    font-size: 14px;
    font-family: barlow condensed, sans-serif;
    list-style: none;


}
ul li a{
    text-decoration: none;
    color: white;
}
h1{
    margin-top: 1px;
    color: white;
    margin: 7px 12px;
    position: relative;
    left: -18%;
    font-family: balow condensed sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
}

.subbox{
    border: 1px solid transparent;
    background-color: whitesmoke;
    height: 40px;
}
ol{
    float: left;
}
ol li{
    float: left;
    width: 90px;
    position: relative;
    list-style-type: none;
    font-family: balow condensed sans-serif;
    font-size: 18px;
}
ol li{
    text-decoration: none;
    color:black;
}
ol li a:hover{
    border-bottom: 4px solid red;
}
.fa-search{
    position: absolute;
    left: 42px;
    top: 9px;
    color: black;
}
h2{
    position: relative;
    left: -51.2%;
    text-transform: uppercase;
    font-family: balow condensed sans-serif;
    margin-top: 4px;
    color: red;
    font-weight: bolder;

}
.cover img{
    background-size: cover;
    height: 530px;
    width: 1328px;
    background-color: darkgray;
}
.text {
    position: absolute;
    top: 30px;
    left: 7px;

}
h3{
    font-size: 70px;
    font-family: barlow condensed sans serif;
    text-transform: capitalize;
    width: 460px;
    word-spacing: 0px;
    font-weight: normal;
    line-height: 72px;
}

.text > form input[type="submit"]{
    position: absolute;
    top:86%;
    padding: 10px;
    text-transform: uppercase;
    background-color: crimson;
    border: none;
    color: white;
    font-family: barlow condensed sans-serif;
    letter-spacing: 1px;
}
.text > form input[type="submit"] :hover{
    background-color: red;

}

.header{
    text-align-last: center;
    padding: 10px;
    color:black;
    font-family: barlow condensed sans-serif;
    position: relative;
    text-transform:none
    font-weight bolder;
    
}
.header > .first > p{
    font-size: 20px;
}
  .fa-user{
      position: absolute;
      left: 85%;
      top: 9%;
      color: black;
  }
  .fa-shopping-cart{
    position: absolute;
    left: 88%;
    top: 9%;
    color: black;
    width: 25px;
    height: -30px;
    border-radius: 100px;
    background-color: navajowhite;
    margin-top: -2px;
    margin-left: -4px;
    text-align: left;
  }
  .row {
    display: flex;
  }


  /* three image containers (use 25% for four, and 50% for two, etc) */
.column {
    
    width: 33.33%;
    padding: 5px;
    top: 100px;
  }
.men{
    color: black;
    position: absolute;
    left:10%;
    top:180%;
    border: 1px solid whitesmoke;
    width: 200px;
    font-size: 40px;
    font-family: barlow condensed sans-serif;
    background-color: white;
    font-weight: bolder;
    text-align: center;

} 
.accessories{
    position: absolute;
    top:180%;
    left: 80%;
    border: 1px solid whitesmoke;
    width: 200px;
    font-size: 40px;
    font-family: barlow condensed sans-serif;
    background-color: white;
    font-weight: bolder;
    text-align: center;

}
.women{
    position: absolute;
    top: 180%;
    left:40%;
    border: 1px solid whitesmoke;
    width: 200px;
    font-size: 40px;
    font-family: barlow condensed sans-serif;
    background-color: white;
    font-weight: bolder;
    text-align: center;
}

    

    

.first{
    font-size: 10px;
    text-align: center;
    font-style: italic;
    color: burlywood;
    
    
}  
  


  /* three image containers (use 25% for four, and 50% for two, etc) */
.store> .column {
    
    width: 33.33%;
    padding: 5px;
    top: 100px;
    background: linear-gradient(green, blue);
}

#conta{
    margin: 0;
    padding: 0;
    text-align: center;

    
    background-position: center;
    font-family: sans-serif;
    top: 200px;

}
#conta > h4{
    color:black;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
    line-height: 10px;
    font-size: 16px;
    font-style: italic;
    top: 120px;
    padding:50px;
}
.contact-form > form{
    margin-top: 50px;
    transition: all 4s ease-in-out
    top 200px;
}
.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px
}
#conta > input{
    height:45px;
    top: 120px;

}
 form >.submit{
    background-color: green;
    border-color:transparent;
    color:#fff;
    font-size:20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

 /* three image containers (use 25% for four, and 50% for two, etc) */
 #blog .column {
    
    width: 33.33%;
    padding: 5px;
    top: 100px;
  }
  #blog .row{
      display: flex;

  }
  .card-content > p{
      border: 1px solid whitesmoke;
      font-family: barlow condensed sans-serif;
    background-color: white;
    font-weight: bolder;
  }
 .card-action{
    border: 1px solid whitesmoke;
    font-family: barlow condensed sans-serif;
    color:yellow;
    background-color: yellow; 
 }
 body{
     background-color: blue;
 }




